    <html>
        <head>
            <title>Это мой первый блог на django</title>
        </head>
        <body>
            <div>
                <h1><a href="">asmanblogdjango</a></h1>
            </div>

            {% for post in posts %}
            <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
            </div>
            {% endfor %}

        

            <div>
                <p>2016</p>
                <h2><a href="">My second post</a></h2>
                <p></p>
            </div>
        </body>
    </html>